.big-photo{
    background-image: url(banner.jpg);
    height: 400px;
    background-size: cover;
    background-position: 50% 50%;
    color: rgb(140, 150, 238);
    margin-bottom: 50px;
}
img{
    width: 100%;
}
.hut{
    background-image:linear-gradient(rgba(0, 0, 255, 0.421), rgba(0, 255, 68, 0.444)), url(the-hut-bg.png);
height: 300px;
color: burlywood;
}
.hut h2{
    font-size: 3.5rem;
}

.ter{
    background-size: cover;
    margin-top: 30px;
    margin-bottom: 30px;
    background-image:linear-gradient(rgba(226, 233, 19, 0.421), rgba(255, 123, 0, 0.444)), url(the-area.png);
height: 300px;
color: burlywood;
}
.ter h2{
    font-size: 3.5rem;
}




















































































































































